<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="TRACE">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%p] %c{1}: %m%n"/>
        </Console>
        <File name="infoFile" fileName="logs/info.log" >
            <PatternLayout pattern="[%p] %c{1}: %m%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="info">
            <Appender-Ref ref="Console"/>
            <Appender-Ref ref="infoFile"/>
        </Root>
    </Loggers>
</Configuration>